/.idea
/.idea
.idea/compiler.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
/server/target
/eureka/target
/client/target
/config_server/target
/config_server/target
/.idea
/gateway/target
